.container {
    max-width: 1100px;
}

.hanchor {
    display: none;
}

.headings--one-size h2:not(first-child) ,
.headings--one-size h3:not(first-child) ,
.headings--one-size h4:not(first-child) ,
.headings--one-size h5:not(first-child) ,
.headings--one-size h6:not(first-child) {
    margin-top: 20px;
}

.flex-row {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
}

.flex-row > .flex-col {
  flex: 1;
  padding: 0 20px;
}

.flex-row > .flex-col-wide {
  flex: 3;
  padding: 0 20px;
}

@media only screen and (max-width: 768px) {

    .flex-row {
        flex-direction: column;
    }

    .flex-row > .flex-col {
        padding: 0;
    }

    .flex-row > .flex-col-wide {
        padding: 0;
    }
}


nav {
  display: flex;
  justify-content: space-between;
}

.left-menu {
    float: left;
}

.right-menu {
    float: right;
}

.right-menu ul {
    list-style-type: none;
}

.right-menu ul li{
    display: inline-block;
    padding-left: 25px;
    position: relative;
}

svg {
    fill: #ffffff;
    stroke: #ffffff;
}

